    nav{
        background-color: rgb(178, 110, 238);
        border-radius: 3rem;
        color: whitesmoke;
        font-size: larger;
        font-weight: bolder;
        
        mask: linear-gradient(90deg, transparent, white 25%, white 70%, transparent);
        -webkit-mask: linear-gradient(90deg, transparent, white 25%, white 70%, transparent);
        overflow: hidden;

        position: sticky;
        width: 100%;
        top: 0;
    }
    ul {
        list-style-type: none;
        margin: 0rem 0rem 0rem 25%;
        padding: 0;
        overflow: hidden;
      }
      
      li {
        float: left;
        margin: 0rem 1rem 0rem 1rem;
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 16px;
        text-decoration: none;
        transition: ease-in-out 550ms;
      }
      
      li a:hover {
        color: snow;
        border-radius: 3rem;
        background-color: rgb(94, 65, 183);
      }