<h2>Log In</h2>

<form [formGroup]="loginForm" (ngSubmit)="handleSubmit()">
    <label for="email">Email</label>
    <span class="hint-{{emailInputActive.toString()}}">Enter your email address.</span>
    <br />
    <input type="email" id="email" name="email" formControlName="email" (focus)="setEmailActive(true)" (blur)="setEmailActive(false)" />
    @if (loginForm.get("email")?.touched) {
        @if ( loginForm.get("email")?.hasError("required") || loginForm.get("email")?.hasError("email") ) {
            <br />
            <span class="error">Come on, we know that's not a real email address...</span>
        }
    }
    <br />
    <label for="password">Password</label>
    <span class="hint-{{passInputActive.toString()}}">Enter your password.</span>
    <br />
    <input type="password" id="password" name="password" formControlName="password" (focus)="setPasswordActive(true)" (blur)="setPasswordActive(false)" />
    @if (loginForm.get("password")?.touched) {
        @if ( loginForm.get("password")?.hasError("required") ) {
            <br />
            <span class="error">Where's ya password??</span>
        }
    }
    <br />
    <button type="submit" [disabled]="loginForm.invalid">Submit</button>
    @if (loginForm.invalid && loginForm.touched) {
        <br />
        <span class="error">Fix errors in the form</span>
    }
    <br />
    <span class="error">{{ formErrorMessage }}</span>
</form>