.auth{
    display: flex;
    flex-direction: row;
    position: absolute;
    // width: 100%;
}
.authorization{
    position: relative;
    // left: 5rem;
}
.instructions{
    position: relative;
    top: 35vh;
    height: fit-content;
    width: 30vw;
    
    align-content: center;

    background-color: white;
    border-radius: 3rem;
    
    color: rebeccapurple;
    font-weight: bolder;
}