button.leave{
    background-color: orchid;
    font-weight: bolder;
    font-style: oblique;

    position: absolute;
    top: 50%;
    right: 45%;
}

#chat-join{
    margin-top: 1rem;
    margin-bottom: 1rem;
}